* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background: white;
  width: 100wh;
}
h1 {
  padding-top: 90px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 30px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  color: white;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}
ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
ul a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 20px;
  text-decoration: none;
  color: midnightblue;
  transition: all 1s linear;
  border-radius: 10px;
  padding: 10px 10px;
}
ul a:hover {
  background-color: #76a6ff;
  color: #a20000;
}

.header {
  position: relative;
  background: #333
    url("https://unsplash.com/photos/mTgO05cbQ8Y/download?ixid=MnwxMjA3fDB8MXxhbGx8NTd8fHx8fHwyfHwxNjQ5MDU5MjUx&force=true")
    no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: white;
}
.header * {
  z-index: 1;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
  height: 100%;
  font-size: 90px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 28px;
  text-shadow: 3px 3px #ff0000;
  animation: animate1 2s linear;
}

@keyframes animate1 {
  0% {
    padding-top: 500px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header .content .animate {
  animation: animate2 6s linear 3s infinite;
}
@keyframes animate2 {
  0% {
    text-shadow: 3px 3px #ff0000;
  }
  25% {
    text-shadow: 3px 3px green;
  }
  50% {
    text-shadow: 3px 3px yellow;
  }
  75% {
    text-shadow: 3px 3px blue;
  }
  100% {
    text-shadow: 3px 3px #ff0000;
  }
}
.arrow {
  transform: translateY(350px);
  animation: animate3 3s linear 3s infinite;
}
.arrow a {
  color: white;
}
.navbar {
  z-index: 10;
}
@keyframes animate3 {
  0% {
    transform: translateY(350px);
  }
  15% {
    transform: translateY(450px);
  }
  50% {
    transform: translateY(450px);
  }
  80% {
    transform: translateY(350px);
  }
  100% {
    transform: translateY(350px);
  }
}
#about {
  width: 100%;
  min-height: 70vh;
}
#portfolio {
  width: 100%;
  min-height: 65vh;
}

#blog {
  width: 100%;
  min-height: 57vh;
  text-align: center;
}
#contact {
  width: 100%;
  min-height: 53vh;
  text-align: center;
}
#social {
  width: 100%;
  min-height: 14vh;
  font-size: 28px;
  color: #5159ff;
}
#social .fa-brands {
  margin-top: 50px;
  margin-right: 20px;
  transition: all 1s ease-out;
}
#social .fa-brands:hover {
  color: #ff0000;
}
#social > div {
  margin-top: 30px;
  font-size: 13px;
}
#about {
  background-color: #e1f4ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

#about .container {
  color: #5c8eff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-height: 400px;
  gap: 50px;
}
#about .container .header-text {
  font-size: 28px;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.3px;
}
#about .container .description,
#blog .blog-text {
  color: #5159ff;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 28px;
}
#about .container img {
  margin-top: 20px;
  width: 500px;
  border: 1px solid black;
  border-radius: 50px;
}
#about .knwoledge {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  width: 60%;
  min-height: 230px;
}
#about .element {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.3px;
  line-height: 20px;
}

.element .icon {
  font-size: 40px;
  color: #005aff;
}
.element .text {
  color: #649bff;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 22px;
}
#portfolio {
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.grid img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 1px solid black;
}

#blog {
  background-color: #e1f4ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
#blog .blog-text {
  max-width: 60%;
}
#contact {
  background-color: #fff;
}
#contact .form-group {
  margin: 20px 0;
}
#contact input,
textarea {
  width: 40%;
  padding: 20px;
}
::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: blue;
  opacity: 1;
}
#social {
  background-color: #e1f4ff;
  text-align: center;
}
.container {
  width: 100%;
  height: 100%;
}
.btn {
  margin: 4px;
  background: #5c8eff;
  color: white;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  padding: 15px 0;
  width: 40%;
  transition: all 1s ease-out;
}
.btn:hover {
  background: #a20000;
}

.image-container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.image-container img {
  transition: 0.5s ease;
}
.image-container:hover img {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.image-text a {
  text-decoration: none;
  background-color: #649bff;
  color: white;
  font-size: 14px;
  padding: 16px 36px;
}

@media (orientation: portrait) {
  .header .content {
    font-size: 50px;
    line-height: 50px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  #about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 450px;
    gap: 50px;
  }
  #about .knwoledge {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    width: 90%;
  }
  #about .container img {
    width: 90%;
  }
  ul a {
    font-size: 12px;
  }
  .arrow {
    transform: translateY(100px);
  }
  @keyframes animate3 {
    0% {
      transform: translateY(100px);
    }
    15% {
      transform: translateY(250px);
    }
    50% {
      transform: translateY(250px);
    }
    80% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(100px);
    }
  }
}
