* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: gotham SSm;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

/* Inline-Elements */
h1 {
  font-weight: 500;
  font-size: 40px;
  margin: 0;
}

h2 {
  font-size: 28px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: 500;
  line-height: 36px;
}

h3 {
  font-size: 17px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: 400;
  line-height: 20px;
}

h4 {
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
  line-height: 20px;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.pages {
  width: 100%;
  height: 100.2vh;
}
body {
  background-color: #333;
}
/* Main */
#lobby { 
  background: #333;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  border: white 1px solid;
  box-shadow: #f4f4f4 -10px 2px -20px 1px;
  position: relative;

}
#lobby::before {
  content: '';
  position: absolute;
  background: url(../img/main-2.avif) center center/cover no-repeat;
  opacity: 0.4;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.grid {
  display: grid;
  padding: 2% 5%;
  height: 100vh;
  grid-gap: 2vw;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  /* grid-display-area:
    'card_1 spacer-1 card-2'
    'card_3 card_4 card_5'; */
}

.spacer-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  height: 30%;
  width: 300px;
  margin-top: 20%;
  margin-left: 24%;
  opacity: 1;
  position: relative;
}
.spacer-1::before {
  content: '';
  position: absolute;
  background-color: #f8f8f8;
  border-radius: 20px;
  height: 50%;
  width: 300px;
  top: 25px;
  left: 0;
  opacity: 0.3;
}
.card_background {
  border-radius: 20px;
  width: 100%;
  height: 40%;
}
.card_h2 {
    background-color: #333;
    width:100%;
    opacity: 0.9;
    color: white;
}
.read_btn_light{
    background-color: #333;

}

.page_link {
  width: 300px;
}
.cards a {
height: 100%;
width: 100%;
}

.pages {
  border-bottom: white 1px solid;
  box-shadow: #f4f4f4 10px 2px 20px 1px;
  position: relative;
}

#Page_1__main {
  background: url(https://scontent-frt3-2.xx.fbcdn.net/v/t39.30808-6/230501349_10226088513983470_4698312732328757452_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=730e14&_nc_ohc=Y25iW0oolIQAX8z4uIg&_nc_ht=scontent-frt3-2.xx&oh=00_AT8nVl-E_TBtrck9L5MthHeihK2HCI5B_iA6sObxm0uZJQ&oe=624F4A08)
    center center/cover no-repeat;
}
#card_1 {
  text-shadow: #333 3px 3px;
  background: url(https://scontent-frt3-1.xx.fbcdn.net/v/t39.30808-6/275003146_10227309825355491_8756741106808196718_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=S5kBI6C2CzUAX_r9t-H&_nc_ht=scontent-frt3-1.xx&oh=00_AT8YFvljOKpn6Jz4TxM9yyI3CMMB1GFq0gm8qJ5_qd2jNg&oe=6250BDF6)
    center center/cover no-repeat;
}

.card_background.yanir {
  background: url("https://i.ibb.co/C80LJRr/87574403-2496608350592047-2298575007237370166-n-1.jpg")
    center center/cover no-repeat;
}
#Page_2__main {
  background: url(https://i.ibb.co/C80LJRr/87574403-2496608350592047-2298575007237370166-n-1.jpg)
    center center/contain no-repeat;
  width: 100%;
  height: 70%;
  background-color: #f4f4f4;
}

#page_2__footer {
  color: #f4f4f4;
  width: 50%;
  height: 30%;
}
#p2_footer_l {
  margin-top: 40px;
}


/* eyal */

#page_3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 100vw;

}
#page_3_main_container {
  width: 50%;
  height: 100%;
  background-color: #f4f4f4;
  box-shadow: #333 10px 2px 20px 1px;
}

#Page_3__main {
  background: url("../Pages/eyal_portfolio/images/IMG_3985.jpg") center center/cover no-repeat;
  object-fit:contain;
  margin-top: 15%;
  max-width: 100%;
  max-height: 70%;
  border-bottom: #333;

}
 

#page_3__footer {
  color: #f4f4f4;
  width: 50%;
}
#p3_footer_l > a {
  color: #f4f4f4;
  margin: 0;
  padding: 0;
}

#card_3 {
  text-shadow: #333 3px 3px;
  background: url("../Pages/eyal_portfolio/images/IMG_3985.jpg") center center/cover no-repeat;
}


/* dima card & page backgorung img */
#page_5 {
  width: 100vw;
  height: 100vh;
}
#page_5_main_container {
  display: flex;
  background-color: #f4f4f4;
  width: 50%;
  height: 100%;
}

#Page_5__main {
  background: url("../img/Dima\ Page.jpg") center center/contain no-repeat;
  object-fit: fit;
  height: 100%;
}

#page_5__footer {
  width: 50%;
}

#card_5 {
  text-shadow: #333 3px 3px;
  background: url("https://scontent.ftlv18-1.fna.fbcdn.net/v/t1.6435-9/62116163_847902768907389_4615702517223784448_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=174925&_nc_ohc=8ICy2GaXU5EAX-SerrE&_nc_ht=scontent.ftlv18-1.fna&oh=00_AT853dVyotj5jRJ3q3i4Rw4q5KEGN3KAsG12FLfQS6ZXHA&oe=627164CD")
    center center/cover no-repeat;
}


#page_4_main_container {
  width: 100%;
  height: 69%;
  background-color: #f4f4f4;
}

#Page_4__main {
  background: url("../img/matan-large.png") center center/contain no-repeat;
  object-fit: fit;
  height: 100%;
}


#card_4 {
  text-shadow: #333 3px 3px;
  background: url("../img/matan-small.png") center center/cover no-repeat;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  color: white;
  margin: auto;
  padding: 2%;
  height: 35vh;
  width: 20vw;
  background-color: #333;
  opacity: 0.9;
  border-radius: 20px;
  box-shadow: rgb(100, 100, 100) 1px 1px 30px 0px;
  animation-name: animate-1;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes animate-1 {
  from { opacity: 0;}
  to { opacity: 1;}
}

.cards:hover {
  
  animation-name: animate-3;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes animate-3 {
  to { 
    width: 100.5%;
    height: 100.5%;
  }

}

/* ----Pages---- */

[data-pages="page-main"] {
  width: 100%;
  height: 75vh;
}

[data-pages="footer"] {
  max-width: 130vw;
  height: 25%;
  border-radius: 20px;
}

[data-pages="footer_l"] {
  width: 20vw;
  margin-right: 7%;
  border-radius: 20px;
}

[data-pages="btn_2"] {
  width: 100px;
}

[data-pages="footer_r"] {
  width: 45%;
  height: 100%;
  text-align: start;
  box-sizing: border-box;
}

[data-pages="footer_r"] p {
  font-size: 1em;
  box-sizing: border-box;
}

[data-pages="footer_l"]:first-child {
  max-width: 30%;
  color: #f4f4f4;
}

[data-pages="footer_r"] {
  max-height: 100%;
  text-align: start;
}
.picture {
  background: white;
}


.aside_r_t.shown {
  display: block;
}

#aside-l {
  width: 1vw;
  height: 28vh;
  padding: 0;
  margin: 0;
  position: fixed;
  font-size: 30px;
  left: 0.7vw;
  bottom: 35vh;
  opacity: 1;
}
#aside-l {
    width: 70px;
    hight:100%;
    
}

.nav-con {
  width: 100%;
  height: 10%;
  cursor: pointer;
  font-weight: 700;
  border-radius: 10px ;
  box-shadow: rgb(100, 100, 100) 1px 1px 30px 0px;
}
.nav-con:hover {
    box-shadow: rgb(100, 100, 100) 1px 1px 30px 0px;
    opacity: 0.7;
    background-color: #f4f4f4;
    transition: 1.5s;
    /* animation: right-nav-hover 0.5s ease-in-out 0 1 forwards both; */

}



.nav-con a {
  width: 100%;
  height: 100%;
  opacity: 1;
}

/* #nav_page_1:hover::after {
    content: "MODEL 3";
    position: fixed;
    left: 20px;
    font-size: 12px;
    font-weight: 400;
    color: white;
    opacity: 1;
}

#nav_page_2:hover::after {
    content: "SAFETY";
    position: fixed;
    left: 20px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    z-index: 15;
}
#nav_page_3:hover::after {
    content: "PERFORMANCE";
    position: fixed;
    left: 20px;
    font-size: 12px;
    font-weight: 400;
    color: white; */

#nav_lobby:after {
  content: "Lobby";
  position: fixed;
  left: 17px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
#nav_page_1:after {
  content: "Avishai";
  position: fixed;
  left: 17px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
#nav_page_2:after {
  content: "Yanir";
  position: fixed;
  left: 17px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
#nav_page_3:after {
  content: "Eyal";
  position: fixed;
  left: 17px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
#nav_page_4:after {
  content: "Matan";
  position: fixed;
  left: 17px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
#nav_page_5:after {
  content: "Dima";
  position: fixed;
  left: 17px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

