html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Cabin', 'Josefin Sans', sans-serif;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}


/* header */
header{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../images/background-2426328.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: #ffffff;
}

.social_links{
    display: flex;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.4s;
}

.social_links:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.social_links__social a{
    padding: 20px;
    font-size: 32px;
    color: #ffffff;
    transition: color 0.8s;
}

.social_links__social a:hover{
    color: rgba(0, 0, 0, 0.8);
}

.bright_arrow{
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    font-size: 32px;
    border-radius: 50%;
    color: #ffffff;
    animation: arrow 2s infinite;
    transition: color 0.8s, background-color 0.4s;
}

@keyframes arrow {
    50%{transform: translateY(-30px);}
}

.bright_arrow:hover{
    cursor: pointer;
    animation-play-state: paused;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
}


/* section1 */
.page{
    height: 100vh;
    background-color: #ffffff;
}

.cover{
    width: 100%;
    height: 50vh;
    overflow: auto;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.cover__backrounds{
    background-image: url(https://media.giphy.com/media/8YBpKSm3uPWG9Ca0F4/giphy.gif);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
}

.cover__container{
    background-color: #272727;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 920px;
    margin: auto;
}

.nav_page{
    padding: 32px 0;
}

.nav_page a{
    transition: 0.8s;
}

.nav_page a:hover{
    background-color: #ffffff;
    opacity: 0.5;
}

#page1__container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 8px;
}

.about_me h2{
    font-size: 60px;
}

.about_me p{
    font-size: 30px;
}

.my_pic{
    place-self: center;
}

.my_pic img{
    border-radius: 50%;
}

.nav_page{
    height: 100px;
}

.nav_page a{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    align-items: center;
}

.nav_page__p{
    padding: 0 16px;
    font-size: 42px;
    color: #ffffff;
}