

#list li:nth-child(1) {

    transition: all 4s ease;
    animation-name: list-animation-up ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

#list li:nth-child(4) {

    transition: all 4s ease;
    animation-name: list-animation-down ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

#list li:nth-child(2) {

    transition: all 5s ease;
    animation-name: list-animation-right ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

#list li:nth-child(3) {

    transition: all 5s ease;
    animation-name: list-animation-left ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

footer span {
    

    transition: color 16s ease;
    animation-name: colors ;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

}


@keyframes colors{


    10%{
        color: #ff0055        ;
    }
    20%{
        color: #39ff14;
    }

    30%{
            color: #00fdff;
    }  

    60%{
        color:#ff000d;
    }

    70%{

    }
    90%{
        color: #66ff00;
    }

    100%{
        color:#be03fd;
    }
}


@keyframes list-animation-left{

    to{
        transform: translateX(-50px);
        color: deeppink;
    }

}

@keyframes list-animation-right{

    to{
        transform: translateX(50px);
        color: aquamarine;
    }

}


@keyframes list-animation-up{

    to{
        transform: translateY(-30px);
        color: orangered;
    }

}

@keyframes list-animation-down{

    to{
        transform: translateY(30px);
       color: greenyellow;
    }

}