@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: aliceblue;
    background-color: black;

    font-family: 'Dancing Script', cursive;
    letter-spacing: 0.2rem;
}

.grid {
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    overflow: hidden;

    padding-left: 5px;
    padding-right: 5px;

}


.grid-item {
    margin: 5px;
}

.grid-item:nth-child(1){
    grid-row: 1 /  span 4;

}

.grid-item:nth-child(2){
    grid-row: 1 /  span 2;
}
.grid-item:nth-child(3){
    grid-row: 3 /  span 2;

    margin-bottom: 20px;
}



.grid-item img{
    max-width:65%;
    margin: 10%;
    border-radius: 12px;
    opacity: 0.9;
}


#info{
        text-align: center;
        margin-top: 100px;

    }

    #list{
        text-align: center;
        margin-top: 100px;
       margin-bottom: 20px;

    }

    #list li {
        list-style: none;
    }




    footer{
        margin-top: 10px;
        color: antiquewhite;
        background-color: black;
        text-align: center;
    }


/*Mobile*/

@media(max-width:600px){

    .grid{
        grid-template-columns: 1fr;

    }
    
    .grid-item:nth-child(1){
        grid-row: 1 /  span 1;
    }
    
    .grid-item:nth-child(2){
        grid-row: 2 /  span 1;
    }
    .grid-item:nth-child(3){
        grid-row: 3 /  span 1;
    }

    .grid-item:nth-child(4){
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .grid-item img{
      
        margin-left: 18%;
        margin-bottom: 0;
        
    }

    #img-text{
        visibility: hidden;
    }
    #info{
        padding: 0;
        margin: 0;
    }



}

@media(min-width: 1450px){

    .grid-item img{
        max-width:45%;
        margin: 10%;
        border-radius: 12px;
        opacity: 0.9;
    }
    
}


